{
 :paths ["src" "resources"]
 :deps {}
 ;; clj -M:test
 :aliases {:test    {:extra-paths ["test"]
                     :extra-deps  {cloverage/cloverage {:mvn/version "1.2.2"}}
                     :main-opts   ["-m" "cloverage.coverage"
                                   "-p" "src" "-s" "test"]}}
 }